/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/
/* BELOW 1396px (big desktops) */
/**************************/
@media (max-width: 87.4rem) {
  .hero-video {
    width: 120%;
    height: 120%;
  }
  .hero-video-box {
    padding: 0;
    border: none;
  }

}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
    gap: 8.6rem;
  }

  .logo-img {
    height: 10rem;
  }

  .logo-div h1 {
    font-size: 2rem;
  }

  .main-nav-list {
    gap: 2rem;
    font-size: 1.8rem;
  }
  .hero-video {
    width: 110%;
    height: 110%;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 2.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0;
    gap: 0;
  }

  .logo-img {
    height: 10rem;
  }

  .logo-div h1 {
    font-size: 2rem;
  }

  .main-nav-list {
    gap: 2.5rem;
    font-size: 1.8rem;
  }

  .hero {
    gap: 4.8rem;
  }

     .introduction-section {
        width: 80%;
        padding: 2rem;
}

.container-profile {
  max-width: 100%;
  
}
}

  /**************************/
/* BELOW 997px (Landscape Tablets) */
/**************************/

@media (max-width: 62em) {
    .main-nav-list {
    gap: 1.3rem;
    font-size: 1.8rem;
  }

   .logo-img {
    height: 10rem;
  }

  .logo-div h1 {
    font-size: 1.8rem;
  }

  
}

  /**************************/
  /* BELOW 947px (Tablets) */
  /**************************/

  @media (max-width: 59.2em) {
    html {
      /* 8px / 16px = 0.5 = 50% */
      font-size: 50%;
    }
    .container {
      padding: 0 2rem;
    }

    .logo-img {
      height: 10rem;
    }

    .logo-div h1 {
      font-size: 3rem;
    }

    .hero {
      grid-template-columns: 1fr 1fr;
      padding: 0 8rem;
      gap: 6.4rem;
    }

    .hero-text-box {
      text-align: center;
    }

    .hero-video {
      width: 130%;
      height: 130%;
    }

   
    .delivered-cases {
      justify-content: center;
      margin-top: 3.2rem;
    }

    .step-number {
      font-size: 7.4rem;
    }

    .meal-content {
      padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .gallery {
      grid-template-columns: repeat(6, 1fr);
    }

    .cta {
      /* 3/5 = 60% + 2/5 = 40% */
      grid-template-columns: 3fr 2fr;
    }

    .cta-form {
      grid-template-columns: 1fr;
    }

    .btn--form {
      margin-top: 1.2rem;
    }

    .footer-div {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
    /* MOBILE NAVIGATION */

    .btn-mobile-nav {
      display: block;
      z-index: 9999;
      margin-right: 2rem;
    }

    .main-nav {
      background-color: rgba(255, 255, 255, 0.97);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
    }

    .main-nav-list {
      flex-direction: column;
      gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
      font-size: 3rem;
    }
  }

  /**************************/
  /* BELOW 771px (Smaller tablets) */
  /**************************/
  @media (max-width: 49em) {
    .hero-video {
      width: 110%;
      height: 110%;
    }

    .hero {
      grid-template-columns: 1fr;
    }

      .container {
      padding: 0 2rem;
    }

    .content  {
  padding: 3rem 4rem;
}

    .footer-div {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
  }

  /**************************/
  /* BELOW 704px (Smaller tablets) */
  /**************************/
  @media (max-width: 44em) {
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }

       .container {
      padding: 0 2rem;
    }

     .slide-text {
      max-width: 100%;
      font-size: 3rem;
    }

    .aboutUs h2 {
      max-width: 80%;
    }

    .service-dilivery {
      grid-column: 1 / -1;
      justify-self: center;
      width: 50%;
    }

    .team-last {
      grid-column: 1 / -1;
      justify-self: center;
      
    }

    .heading-secondary {
      margin-bottom: 4.8rem;
    }

    .testimonials-title {
      font-size: 1.8rem;
    }

    .grid--footer {
      grid-template-columns: repeat(6, 1fr);
    }

    .logo-col,
    .address-col {
      grid-column: span 3;
    }

    .nav-col {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }

    .footer-logo {
      width: 20rem;
    }

    .footer-div {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
  }

  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/

  @media (max-width: 34em) {
    .grid {
      row-gap: 4.8rem;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: 1fr;
    }

       .container {
      padding: 0 2rem;
    }


     .logo-img {
    height: 8rem;
  }

  .logo-div h1 {
    font-size: 1.8rem;
  }

    .slide-text {
      display: none;
    }

    .hero-video {
      width: 120%;
      height: 120%;
    }

     .aboutUs h2 {
      max-width: 100%;
    }

      .service-dilivery {
      grid-column: 1 ;
      justify-self: start;
      width: 100%;
    }

      .team-last{
      grid-column: 1 ;
      justify-self: start;
      width: 100%;
    }

    .btn,
    .btn:link,
    .btn:visited {
      padding: 2.4rem 1.6rem;
    }

    .section-hero {
      padding: 2.4rem 0 6.4rem 0;
    }

    .hero {
      padding: 0 3.2rem;
    }

    .hero-video {
      width: 80%;
    }

       .introduction-section {
        width: 95%;
        padding: 2rem;
}

.content  {
  padding: 3rem 2rem;
}
    .step-img-box:nth-child(2) {
      grid-row: 1;
    }

    .step-img-box:nth-child(6) {
      grid-row: 5;
    }

    .step-img-box {
      transform: translateY(2.4rem);
    }

    .testimonials {
      grid-template-columns: 1fr;
    }

    .article-card p {
      font-size: 2rem;
    }

    .cta {
      grid-template-columns: 1fr;
    }

    .cta-text-box {
      padding: 3.2rem;
    }

    .cta-img-box {
      height: 32rem;
      grid-row: 1;
    }

    .footer-logo {
      width: 8rem;
    }

    .footer-div {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

  }

